.signup-form {
  padding: 20px;
}

.btn-create-account {
  margin-top: 20px;
}

.form-control {
  width: 100%;
}

.alert {
  height: 7%;
  justify-content: center;
  align-items: center;
}

.form-label {
  color: azure;
}

.Inputform {
  margin-bottom: 15px;
}

.FirstForm {
  margin-top: 20px;
}

#SignUpForm {
  margin-top: 3%;
}
