.home{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,113,61,1) 0%, rgba(0,224,101,1) 100%);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.home-text{
    max-width: 100%;
    display: inline-block;
}

.home .container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 92vh;
    background-color: transparent;
}

.home-header{
    margin-top: 10%;
    color: white;
    font-size: 50px;
    font-weight: bold;
}


.home-background-image{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.home-text {
    color: #fff;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em;
  }
  
